.header {
  max-width: 100rem;
  margin: auto;
  height: 5rem;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(1rem ,4rem, 6rem) ;
  padding-right: clamp(1rem, 5rem, 7.5rem);

  & img {
    width: 9.3rem;
  }
}

.cart__button {
  position: relative;
  background-color: transparent;
  color: #bdbdbd;
  border: none;

  width: 1.5rem;

  & span {
    position: absolute;

    top: -9px;
    right: -13px;
    width: 1.2rem;
    height: 1.2rem;

    background-color: var(--color-primary);
    border-radius: 0.4375rem;
    color: #ffffff;
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
}
@media(max-width:475px){
  .header{
    padding-inline: 1rem;
    padding-right: 1.4rem;
  }

}