.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
}

.content{
    
    display: flex;
    align-items: center;
    gap: 1rem;
    
    & div{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    

    
}

.image__container{
background-color: var(--color-gray-100);
border-radius: 0.3125rem;
    & img{
        width: 3.5rem;
    }
}

.button{
    background-color: transparent;
    border: none;
    color: #BDBDBD;
}